body {
    text-align: center;
}
h1 {
    color: #ba2626;
    margin-bottom:2em;
}
P {
    color: #333333;
}
a {
    color: #6a2e2e;
    text-decoration: underline;
}
a:hover, a:focus {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
